/* --- general --- */

* {
  font-family: 'Press Start 2P', cursive;
}

body {
  background-color: black;
  color: white;
}

input {
    background-color: white;
    color: black;
    font-family: 'Press Start 2P', cursive;
}

h1 {
  font-size: 18;
}

/* --- nav --- */

span, a {
  padding: 8px 30px;
  display: flex;
  align-self: center;
  justify-content: center;
}

#nav-devider {
  margin-left: 70px;
  margin-right: 40px;
}

/* --- play --- */

table {
  margin-right: center;
  margin-left: center;
}

td {
  width: 48px;
  height: 48px;
  background-color: white;
}

/* --- party --- */
.character-container {
  text-align: center;
  border: 1px solid white;
}

/* --- character --- */
#character-form {
  margin-top: 100px;
  margin: 0 auto;
  width: 50%;
}

/* --- link --- */

a {
  text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: red;
}

a:active {
    color: white;
}

/* --- id --- */

#main-wrapper {
  display: flex;
  flex-wrap: wrap;
}

#page-header {
  text-align: center;
  font-size: 40px;
}

#page-rule {
  width: 50%;
}
