/* --- general --- */

* {
  font-family: 'Press Start 2P', cursive;
}

body {
  background-color: black;
  color: white;
}

h1 {
  font-size: 18;
}

/* --- nav --- */

span, a {
  padding: 8px 30px;
  display: flex;
  align-self: center;
  justify-content: center;
}

#nav-devider {
  margin-left: 70px;
  margin-right: 40px;
}

/* --- table --- */

table {
  margin-right: center;
  margin-left: center;
}

hr {
  margin-bottom: 10px;
}

td {
  width: 48px;
  height: 48px;
  background-color: white;
}

/* --- link --- */

a {
  text-decoration: none;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: red;
}

a:active {
    color: white;
}

/* --- id --- */

#main-wrapper {
  display: flex;
  flex-wrap: wrap;
}
